[Desktop Entry]
Version=1.0
Type=Application
Name=Qt Web Engine Application
Exec=QtWebEngineApplication
TryExec=QtWebEngineApplication
Icon=QtWebEngineApplication
Categories=Development;
